.mainboard-section {
  overflow-x: hidden;
  margin-left: 15rem;
  min-height: 100%;
  background-color: transparent;
  display: flex;
  flex: auto;
  flex-direction: column;
  background-image: repeating-radial-gradient(
    #0c0a0a 80%,
    #2f312f 90%,
    #3f4549 90%
  );
  background-size: 65px 65px;
  font-family: "Montserrat", sans-serif !important;
}

.expanded-mainboard {
  margin-left: 4rem;
}
